.product-card {
  margin-bottom: 30px;
}

.card-top-container {
  border-bottom: 1px solid #e1e1e1;
  padding: 16px 0px;
  text-align: center;
}

.card-top-container img {
  width: 158px;
  height: 158px;
}

.card-bottom-container {
  padding: 15px 20px 30px;
  text-align: left;
}

.card-bottom-container h6 {
  font-size: 18px;
  color: #253228;
}
